
.side-view {
	float: left;
	height: 660px;
	width: 60px;

	color: $black; 
	background-color: $white; 
	border-radius: 6px;	
	box-shadow: $box-shadow-z1;
	margin: 20px 0px 0px 20px;
	text-align: center;

	.icon-button {
		
	}
}