
.api-tools {
	header {
		background-color: #7636FF;
		color: #EEEEEE;
		padding: 20px 12px
	}

	ul {
		background-color: #7636FF;
		color: #EEEEEE;
		list-style: none;
		margin: 0;
		padding: 0 0 0 20px;

		li {
			cursor: pointer;
			border-bottom: 1px solid #7636FF;
			display: inline-block;
			text-align: center;
			width: 60px;
			margin-bottom: 10px;

			&:hover {
				border-bottom: 1px solid #FFFFFF;
			}
		}
	}
}
