
.image-nodes {

	height: 100%;
	min-height: 660px;
	width: calc(100% - 40px);
	margin-left: 20px;

	.image-node-svg {
		margin-left: 60px;
		width: 100%;		
		height: 100%;		

		svg {
			shape-rendering: auto;

			text {
				pointer-events: none;
			}
		}
	}

	.image-node-controls {
		float: left;
		height: 100%;
		min-height: 660px;
		width: 60px;
		background-color: #673AB7;
		color: #FEFEFE;

		.icon-button {
			cursor: pointer;
			text-align: center;
			padding: 12px 0 12px 0;

			&:hover {
				background-color: lighten(#673AB7, 5%);
			}
		}		
	}

}
