
.roi-panel {
	width: 100%;
	padding: 0px 10px;

	.roi-info-box {
		box-shadow: $box-shadow-z1;
		border-radius: 6px;
		margin-bottom: 10px;
		padding: 10px;
	}

	.roi-item {
		border-bottom: 1px solid #E1E2E4;
		margin-bottom: 10px;
		padding: 10px;
		position: relative;
		text-align: left;

		div {
			margin-bottom: 2px;

			&:last-of-type {
				margin-bottom: 0px;
			}
		}

		ul { 
			border-bottom: none;
			margin: 0;
			padding: 0;
		}

		li {
			padding: 0;
		}

		label {
			margin-right: 6px;
		}

		button {
			position: absolute;
			top: -4%;
			right: -4px;
			color: #7B7B7B;			

			&:focus {
				background-color: $white;
				box-shadow: none;
				color: $red;				
			}		

			&:hover {
				box-shadow: none;
				color: $red;
			}			
		}
	}

	.roi-title {
		margin-top: 0px;
		margin-bottom: 6px;
		position: relative;

		label {
			font-size: 14px;
			font-weight: normal;
			display: inline-block;
			margin-left: 10px;
			vertical-align: middle;
		}
	}

	.roi-colorbox {
		border-radius: 2px;
		box-shadow: rgba(0, 0, 0, 0.14902) 0px 0px 0px 1px inset;
		cursor: pointer;
		display: inline-block;
		height: 20px;		
		vertical-align: middle;
		width: 20px;
	}

	.roi-colorpicker {
		position: absolute;
		left: 0;
		top: 28px;
		
		.colorpicker {
			position: absolute;
			z-index: $z-modal;
		}

		.colorpicker-background {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: $z-modal - 10;
		}
	}

	.roi-label {
		font-size: 12px;
	}

}