
.threshold-panel {
	width: 100%;
	padding: 20px 30px;

	.threshold-settings {
		border-bottom:1px solid #E1E2E4;		
		padding-bottom: 30px;
		margin-bottom: 30px;

		label {
			margin-left: 10px;
		}
	}

	.min-threshold-control {
		width: 100%;
		margin-bottom: 10px;

		input {
			width: 80%;
		}

		h4 {
			margin: 0;
			text-align: left;
			font-weight: normal;
			margin-bottom: 10px;
		}

		.label-value {
			text-align: right;
		}
	}
}