
.threshold-panel {
	width: 100%;
	padding: 20px 30px;

	.min-threshold-control {
		width: 100%;

		input {
			width: 80%;
		}

		h4 {
			margin: 0;
			text-align: left;
			font-weight: normal;
			margin-bottom: 10px;
		}

		.label-value {
			text-align: right;
		}
	}
}