
.viewer-file-panel {
	color: $black; 
	background-color: $white; 
	border-radius: 6px;	
	box-shadow: $box-shadow-z1;
	margin: 0px 40px;
	height: 80px;
	padding: 0;
	text-align: center;
	width: 300px;
	min-height: 600px;

	h4 {
		border-bottom: 1px solid $light-grey-border-color;
		font-weight: normal;
		margin: 0 10px 10px 10px;
		padding: 10px;
	}

	ul {
		text-align: left;
		padding: 0 16px;
	}

	li {
		display: inline-block;
		padding: 10px 10px;
	}

	img {
		display: block;
		width: 64px;
	}
}