
.viewer-stats-panel {
	margin: 0px 20px;
	padding: 0;
	text-align: center;
	width: 300px;
	min-height: 600px;

	.labels {
		margin: 20px 20px 0 20px;
		text-align: left;
		overflow: auto;
    white-space: nowrap;
    font-size: 12px;

		label {
			display: block;
			margin-bottom: 6px;
		}
	}

	.header-info {
		h4 {
			margin-bottom: 6px;
			font-weight: normal;
			font-size: 14px;
		}
	}
}
