
.viewer-container {

	@extend .flex;

	margin: 0 20px; 

	canvas {
		cursor: hand;
		cursor: pointer;
		height: 100%;
	}

	h4 {
		font-weight: normal;
		margin: 0;
		padding: 10px;
	}

	&.default { 
		.viewer {
			left: 100px;
		}
	}

	&.image-node {
		display: none;
	}

	.viewer-header {
		background-color: $white;
		border-radius: 4px;
		box-shadow: $box-shadow-z1;
		margin-bottom: 20px;
		padding: 0 10px;

		.hidden {
			display: none;
		}

		.icons-left {
			text-align: left;
		}

		.icons-center {
			text-align: center;
		}

		.icons-right {
			text-align: right;
		}

		.zoom-slider {
			display: inline-block;
			position: relative;
    	top: -4px;
		}
	}

	.viewer {
		position: absolute;
		top: 148px - 20px;
		left: 380px + 60px;
		right: 20px;
		bottom: 20px;
		min-width: 590px;

		box-shadow: $box-shadow-z1;
		margin: 0 auto 0 auto;
		overflow: hidden; 

		$checkerboard-color: rgba(0,0,0,0.1);
		background-color: #eee;
		background-image: linear-gradient(45deg, $checkerboard-color 25%, transparent 25%, transparent 75%, $checkerboard-color 75%, $checkerboard-color), 
		linear-gradient(45deg, $checkerboard-color 25%, transparent 25%, transparent 75%, $checkerboard-color 75%, $checkerboard-color);
		background-size:60px 60px;
		background-position:0 0, 30px 30px;

		.viewer-primary { 
			width: 100%;
			height: 100%;

			&.volume-view {
				display: none;
			}

			&.hidden {
				display: none;
			}

			.viewer-pane {
				width: 100%;
				height: 100%;

				&.hidden {
					display: none;
				}
			}

			&.layout-row {
				.two-panes {
					width: 50%;
					height: 100%;
				}

				.three-panes {
					width: 33.3333%;
					height: 100%;
				}
			}

			&.layout-column {
				.two-panes {
					width: 100%;
					height: 50%;
				}

				.three-panes {
					width: 100%;
					height: 33.3333%;
				}
			}
		}

		.viewer-volume-renderer {
			display: none;

			&.volume-view {
				display: block;
				width: 100%;
				height: 100%;
			}			
		}
	}

}

