
.viewer-container {

	float: left;
	width: calc(100% - 760px);

	canvas {
		cursor: hand;
		cursor: pointer;
		height: 100%;
	}

	h4 {
		font-weight: normal;
		margin: 0;
		padding: 10px;
	}

	.viewer-header {
		background-color: $white;
		border-radius: 4px;
		box-shadow: $box-shadow-z1;
		margin-bottom: 20px;
		padding: 0 10px;

		.icons-left {
			text-align: left;
		}

		.icons-right {
			text-align: right;
		}

		.zoom-slider {
			display: inline-block;
			position: relative;
    	top: -4px;
		}
	}

	.viewer {
		position: absolute;
		top: 148px;
		left: 380px;
		right: 380px;
		bottom: 20px;
		min-width: 590px;

		//width: 100%;
		//height: 600px;
		box-shadow: $box-shadow-z1;
		margin: 0 auto 0 auto;
		overflow: hidden; 

		$checkerboard-color: rgba(0,0,0,0.1);
		background-color: #eee;
		background-image: linear-gradient(45deg, $checkerboard-color 25%, transparent 25%, transparent 75%, $checkerboard-color 75%, $checkerboard-color), 
		linear-gradient(45deg, $checkerboard-color 25%, transparent 25%, transparent 75%, $checkerboard-color 75%, $checkerboard-color);
		background-size:60px 60px;
		background-position:0 0, 30px 30px;
	}

}

