
.viewer-file-panel {
	color: $black; 
	background-color: $white; 
	border-radius: 6px;	
	box-shadow: $box-shadow-z1;
	margin: 0px 40px;
	height: 80px;
	padding: 0 20px;
	text-align: center;
	width: 300px;
	min-height: 660px;

	h4 {
		border-bottom: 1px solid $light-grey-border-color;
		font-weight: normal;
		margin: 0 0 10px 0;
		padding: 10px;
	}

	ul {
		text-align: left;
		overflow-y: scroll;
    max-height: 520px;
	}

	li {
		display: inline-block;
		padding: 10px 10px;
	}

	img {
		display: block;
		width: 64px;
		max-height: 128px;
	}

	.load-image-file {
		border: 1px dashed #A9A9A9;
		border-radius: 8px;
		color: #A9A9A9;
		margin-bottom: 20px;
		padding: 10px;
		text-align: center;

		i { 
			color: #A9A9A9; 
			display: inline-block; 
			vertical-align: middle;
			padding: 0;
		}
		
		span {
			display: inline-block; 
			vertical-align: middle;
		}
	}	
}