
.viewer-info-panel {
	margin: 0px 40px;
	padding: 0;
	text-align: center;
	width: 300px;
	float: left;

	ul {
		border-bottom: 1px solid $light-grey-border-color;
		margin: 0 10px 10px 10px;
		padding: 0 10px;
	}

	li {
		cursor: hand; cursor: pointer;;
		display: inline-block;
		margin: 0;
		padding: 10px 10px;

		&:hover {
			background-color:rgba(0,0,0,0.10);
			border-bottom: solid 2px rgba(0,0,0,0.10);
		}

		&.active {
			border-bottom: solid 2px rgb(255,82,82);
		}

	}

	.panel {
		color: $black; //#ffffff;
		background-color: $white; //linear-gradient(to bottom,#0c4e84 0,#1d3e74 100%);
		border-radius: 6px;	
		box-shadow: $box-shadow-z1;
	}

	.info-panel {
		min-height: 600px;
	}

}