
.threshold-panel {
	width: 100%;
	margin: 0px 20px;	
	padding: 0px 30px;
	width: 300px;
	min-height: 660px;

	.threshold-settings {
		border-bottom:1px solid #E1E2E4;	
		padding: 20px 14px 30px 14px;	
		margin-bottom: 10px;

		label {
			margin-left: 10px;
		}
	}

	.threshold-buttons {
		margin-bottom: 10px;
	}

	.threshold-control {
		width: 100%;
		margin-bottom: 10px;

		input {
			width: 80%;
		}

		h4 {
			margin: 0;
			text-align: left;
			font-weight: normal;
			margin-bottom: 10px;
		}

		.label-value {
			text-align: right;
		}
	}
}