
button {
	border: none;
	border-radius: 6px;
	padding: 6px 18px;	

	&.button {
		background-color: $blue;
		color: $white;
		font-weight: bold;

		&:focus, &:hover {
			background-color: saturate($blue, 15%);
			padding-bottom: 4px;
			border-bottom: 2px solid darken($blue, 15%);;
		}
	}

	&.icon-button {
		background-color: transparent;
		border-radius: 20px;
		display: inline-block;		
		margin: 6px 4px;
		padding: 6px  6px 2px 6px;

		&:focus {
			outline: none;
			background-color: $blue;
			box-shadow: $box-shadow-z1;
			color: $white;
		}
		
		&:hover {
			box-shadow: $box-shadow-z1;
		}

		&.active {
			background-color: $blue;
			box-shadow: $box-shadow-z1;
			color: $white;
		}

		&.pan i {
			top: -1px;
			left: -1px;
			position: relative;
		}

		&.edit i {
			width: 24px;
		}

		&.rotate i {
			@include rotate(90);
		}
	}

&.nav-button { 
		background-color: transparent;
		border-radius: 0px;
		display: inline-block;		
		margin: 0px 0px;
		padding: 12px 0px; //6px  6px 2px 6px;
		width: 100%;

		&:focus {
			outline: none;
			background-color: $blue;
			color: $white;
		}
		
		&:hover {
			background-color: lighten($blue, 5%);
			color: $white;
		}

		&.active {
			background-color: $blue;
			color: $white;
		}

		&.disabled {
			cursor: not-allowed;
   		color: rgba(50, 50, 50, 0.25);		
		}
	}	

&.nav-button-disabled { 
		background-color: transparent;
		border-radius: 0px;
		display: inline-block;		
		margin: 0px 0px;
		padding: 12px 0px; //6px  6px 2px 6px;
		width: 100%;

		cursor: not-allowed;
   	color: rgba(50, 50, 50, 0.25);		

		&:focus {
			outline: none;
		}
	}

}

